
<div style="text-align: center">
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://gitlab.prod.fedex.com/APP4067/apptx-cookbook.git" data-icon="octicon-cloud-download" aria-label="Download apptx-cookbook on GitLab">
      <img style="max-width:64px;" alt="GitLab" src="/images/gitlab.png"><br>
      View on GitLab
    </a>
    <br>
</div>

<!-- Place this tag in your head or just before your close body tag. -->
<!--  <script async defer src="https://buttons.github.io/buttons.js"></script>  -->
